name: Marin free Deploy 

on:
  push:
    branches: [ main ]
  workflow_dispatch: 

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install Dependencies
        run: npm install

      - name: Run Bot
        env:
          MONGODB: ${{ secrets.MONGODB }}
        run: npm start
